* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url('../images/CTF_challenge.png');
    background-size: cover;
    background-position: center;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

/* Filter Section */
.filter-section {
    width: 20%;
    background-color: rgba(50, 205, 50, 0.8);
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(50, 205, 50, 0.3);
    color: #fff;
    height: fit-content;
}

.filter-section h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.filter-section ul {
    list-style: none;
    padding: 0;
}

.filter-section li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    color: #32cd32;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.filter-section li:hover {
    background-color: #28a828;
    color: #fff;
}

/* Challenge Section */
.challenge-container {
    width: 55%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(50, 205, 50, 0.3);
    color: #32cd32;
}

.challenge-header {
    text-align: center;
    margin-bottom: 20px;
}

.challenge-header h1 {
    font-size: 2em;
    color: #32cd32;
    text-shadow: 0 0 5px #32cd32;
}

.challenge-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.challenge-card {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #32cd32;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(50, 205, 50, 0.3);
    width: 30%;
    min-width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    font-style: italic;
    color: #32cd32;
    text-align: center;
}
    .challenge-card h3 {
        margin: 0; 
        text-align: center; 
    }
    
    .challenge-card p {
        margin: 0;
    }
    
    .difficulty {
        margin-top: auto; 
    }

/* Leaderboard Section */
.ranking-table {
    width: 20%;
    background-color: rgba(50, 205, 50, 0.8);
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(50, 205, 50, 0.3);
    height: fit-content;
    color: #fff;
}

.ranking-table h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
    color: #32cd32;
    border-radius: 8px;
}

table, th, td {
    border: 1px solid #32cd32;
}

th, td {
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

th {
    background-color: #28a828;
    color: #fff;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.8);
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Sidebar CSS */
.options-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #0c0c0c;
}

.sidebar {
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #32cd32;
    padding: 20px;
    transition: left 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.sidebar h2 {
    color: #fff;
    margin-bottom: 20px;
}

.sidebar p {
    color: #fff;
    margin-bottom: 15px;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #32cd32;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background-color: #f0f0f0;
}
